body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    background: #004aad;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}


.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 30%;
}

footer {
    background: #eee;
    text-align: center;
    padding: 10px;
}

.whatsapp {
    display: inline-block;
    background: green;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.product-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.category {
    text-align: center;
    margin-top: 40px;
    color: #004aad;
}

.catalog {
    display: inline-block;
    background: #004aad;
    color: white;
    padding: 12px 20px;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
}
.disclaimer {
    font-size: 12px;
    color: gray;
    text-align: center;
    padding: 15px;
}